<nav aria-label="...">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
            <li class="page-item {% if posts.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}{% if posts.number == i %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
        {% endfor %}
        {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
<nav aria-label="...">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="#">{{ posts.number }} sur {{ posts.paginator.num_pages }}</a>
        </li>
        {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
