{% extends "blog/base.html" %}

{% block content %}
    <h1>Liste des publications</h1>
    {% for post in posts %}
        {% comment %} <a href="/post/{{ post.slug }}/"><h2>{{ post.title }}</h2></a> {% endcomment %}
        <a href="{% url 'blog:post_detail' post.slug %}"><h2>{{ post.title }}</h2></a>
        <p>{{ post.created }}</p>
        <p>{{ post.body }}</p>
    {% endfor %}
    {% comment %} include "blog/pagination.html" {% endcomment %}
    {% include "blog/layout/pagination.html" %}
{% endblock %}


    